body {
    background-color:#000;
    color: #FFF;
}

#main, footer {
    background: white;
    color: #000;
    padding-top:1px;
    padding-left:10px;
    padding-bottom:1px;
    clear: both;
}

#main, footer, header {
    margin: 0 auto;
    width: 600px;
}

header h1{
    float: left;
}

header ul{
    float: right;
}

header li{
    float: left;
    padding-left: 1px;
    padding-right: 25px;
    padding-top: 20px;
}

header ul li:last-child {
    padding-right: 0;
}
