/*----------------------------------------------------------------------------*/

/* CSS Reset {{{
 * http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset }}} ======================================================== */

/* General {{{ ---------------------------------------------------------------*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we like off-black for text */
body, select, input, textarea {color: #333;}

/*color font*/
body {
    font: 16px Helmet, Freesans, sans-serif;
    /*font: 12px Verdana,Geneva,sans-serif;*/
    background-color: #d5cdc2;
}

/* 'em' is a relative size to the parent font size
 * so if the parent element has 16px font, and this is 2em,
 * then the new font size is 16*2 = 32px.
 */
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }

p {
	margin: 1em 0;
}

em, i { font-style: italic; font-family: Georgia,serif; color:#000 }
strong, b {font-weight: bold; color: #000; }

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

/* standardize any monospaced elements */
pre, code, kbd, samp {
    font-family: monospace, sans-serif;
    background-color: #ccc;
    color: #000;
    padding: 0 0.2em;
}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.pagesection * { margin-left: 10px; margin-right: 10px }
.pagesection * * { margin-left: 0; margin-right: 0;}

/*centring*/
#main div.wrap,
header div.wrap,
footer div.wrap {
	margin:0 auto;
	width: 820px; /* 800 + 10 margin on left/right */
	max-width: 100%; /* don't overflow out of the #main section */
}

figure img {width: 100%}
.video figure {
    float: left; padding-right: 10px; max-width: 75%;
}
.video figcaption p { font-size: 0.875em }
.video figcaption :first-child { margin-top: 0 }

.twocolumn .column { width: 380px }
.column { float: left; }

/* }}} end General */

/* Header {{{ ----------------------------------------------------------------*/

/*color*/
header{
    background-color:#293f3a;
    color:#fcfaf7;
	padding-bottom: 0.01px;
}

header .wrap { height: 100px }

header h1 { float: left; }
header ul { float: right; }

/* }}} end Header */

/* Footer {{{ ----------------------------------------------------------------*/

/*color*/
footer{
    background-color: #d5cdc2;
    color:#000;
	padding-top: 0.01px;
}

/* }}} end Footer */

/* Main {{{ ----------------------------------------------------------------*/

#main{
	background-color: #fff;
    background-image: url(./ricepaper2.png);
	/* there is probably a better way of doing this */
	padding-top: 0.01px; padding-bottom: 0.01px;
}


/* }}} end Main */

/* old styles {{{

#main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main, footer, header {
    margin: 0 auto;
    width: 600px;
}

header h1{
    float: left;
}

header{
}

header ul{
    float: right;
}

header li{
    float: left;
    padding-left: 1px;
    padding-right: 25px;
    padding-top: 20px;
}

header ul li:last-child {
    padding-right: 0;
}
}}}*/

