body {
    font: 16px Verdana,Geneva,sans-serif;
    background: url(./m31.jpg);
    background-color:#000;
    color: #FFF;
    background-repeat:no-repeat;
    background-position:center;
}

#main, footer {
    background: url(./ricepaper2.png);
    color: #333;
    padding-top:1px;
    padding-left:10px;
    padding-bottom:1px;
    clear: both;
}

#main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main, footer, header {
    margin: 0 auto;
    width: 600px;
}

header h1{
    float: left;
}

header{
}

header ul{
    float: right;
}

header li{
    float: left;
    padding-left: 1px;
    padding-right: 25px;
    padding-top: 20px;
}

header ul li:last-child {
    padding-right: 0;
}
